<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <context:annotation-config/>
  <context:component-scan base-package="com.dxh.practice.service"/>
  <!--<context:component-scan base-package="com.fxiaoke.runner.configs"/>-->

  <bean class="com.fxiaoke.metrics.MetricsConfiguration"/>

  <mvc:annotation-driven/> <!-- Required so swagger-springmvc can access spring's RequestMappingHandlerMapping  -->
  <!--<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />-->


  <aop:aspectj-autoproxy/>

  <import resource="classpath:spring/spring-cms.xml"/>
  <import resource="classpath:spring/spring-guava.xml"/>
  <import resource="classpath:spring/spring-db.xml"/>

  <!-- 启用@AspectJ注解 -->
  <aop:aspectj-autoproxy/>
  <bean id="serviceProfiler" class="com.github.trace.aop.ServiceProfiler"/>
  <bean id="httpSupport" class="com.fxiaoke.common.http.spring.HttpSupportFactoryBean" p:configName="fs-k8s-ops-http"/>
</beans>
