<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        ">
  <context:annotation-config/>
  <context:component-scan base-package="com.dxh.practice.service"/>
  <context:component-scan base-package="com.dxh.practice.bilibili"/>
  <context:component-scan base-package="com.dxh.practice.initializing"/>
  <context:component-scan base-package="com.dxh.practice.stramFifltsService"/>
  <context:component-scan base-package="com.dxh.practice.thread"/>
  <context:component-scan base-package="com.dxh.practice.map"/>
  <context:component-scan base-package="com.dxh.practice.factory"/>
  <context:component-scan base-package="com.dxh.practice.test"/>

  <aop:aspectj-autoproxy/>
</beans>
